@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700&display=swap');
html{
    scroll-behavior: smooth;
}
*{
    margin: 0;
    padding: 0;
    box-sizing:border-box ;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
   
}
a{
    color: black;
}
:root{
    --layout:10vh;
    --color :#E00000;
}
#logo{
    width: 5vw;
    height: 5vw;
}
header{
    width: 100%;
    z-index: 10;
    background-color: #ffffff;
}
nav{
    transition: ease-in-out 0.5s;
    top: 50%;
    left: 0;
    padding: 0 var(--layout);
    width: 100%;
    height: 15vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: .1px rgb(229, 229, 229) solid;
}
.div__links{
    display: flex;
    gap: 2rem;
    transition: ease-in-out 0.5s;
    align-items: center;
}
.div__links a{
    font-size: .9rem;
    
}
button{
    color: #ffffff;
    background-color: var(--color);
}
form button{
    border: none;
    padding: 1rem;
    border-radius: 20px;
}
#burger{
    height: 4vh;
    display: none;
}
.nav__logo{
    gap: .7rem;
    display: flex;
    align-items: center;
}

.section__hero{
    padding: var(--layout);
    display: flex;
    justify-content:center;
    align-items: center;
    height: 85vh;
   
}
.hero__texts{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.hero__texts h2{
    font-size: 3rem;
}
.hero__texts p{
    font-size: 1.2rem;
    color: rgba(0, 0, 0, 0.838);
}
.hero__texts button,#change{
    background-color:var(--color);
    width: 30%;
    padding: 1rem;
    border-radius: 20px;
    font-weight:bold ;
    border: 0;
    color: rgb(19, 19, 19);
}

.cards__about{
    height: 55vh;
    width: calc(90%/3);
    background-color: rgb(255, 255, 255);
    margin: 2rem 0;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap:5px;
    border-radius: 20px;
    
}
.background__img--cards{
    width: 10vh;
    height: 10vh;
    padding: 1.5vh;
    text-align: center;
    line-height: 10vh;
    border-radius: 50%;
    background-color: var(--color);
}
.background__img--cards img{
    width: 70%;
    height: 70%;
}
#section__about{
    display: flex;
    gap: 3rem;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: var(--layout);
    background-color: #f3f2f3;
}
img[src="./img/logo.png"]{
    width: 100px;
    height: 100px;
    object-fit: cover;
}

.section__whyUs{
    padding: var(--layout);
    width: 100%;
    background-color: #1d71ff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
    color: white;
}
.whyUs__container{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    
    justify-content: center;
    width: calc(70% - 4rem);
    height: 100%;
    align-content: center;
    
}
.whyUs__cards{
    background-color: #ffffff26;
    width: 40%;
    border-radius: 15px;
    padding: 20px;
    height: 30vh;
    display: flex;
    flex-direction: column;
    
}
.whyUs__texts button {
    width: 30%;
    padding: 1rem;
    background-color: transparent;
    border-radius: 25px;
    border: 1px rgb(255, 255, 255) solid;
    
}
.whyUs__texts{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.whyUs__texts button a{
    color: #ffffff;
    font-size: 1rem;   
}
.section__services{
    display: flex;
    padding: var(--layout);
    flex-direction: column;
    gap: 8rem;
    align-items: center;
}
.hero__texts h2{
    font-size: 60px;
}
.hero__texts p{
    font-size: 25px;
}
.section__services img{
    width: 55%;
}
.services__container{
    display: flex;
    width: 40%;
    gap: .5rem;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.section__services h2{
    font-size: 60px;
}
.services__texts{
    display: flex;
    background-color: #f3f2f3;
    gap: 1rem;
    border-radius: 15px;
    height: 7vh;
    align-items: center;    
    padding: 0 1rem;
    width: 20vw;
}
.services__texts img{
    height: 4vh;
    width: 4vh;
    
}
form{
    gap: 1rem;
    display: flex;
    flex-direction: column;
}
input{
    border-radius: 25px;
    padding: 1rem;

}
button a,#btnChanger{
    color: #ffffff;
}
.footer{
    padding: var(--layout);
    background-color: #f3f2f3;
    display: flex;
    
    align-items: center;
    gap: 2rem;
    justify-content: space-around;
}
.footer__logo{
    display: flex;
    align-items: end;
    font-size: .6rem;
}
.footer__logo img{
    height: 7vh;
}
.services__media img{
    height:40%;
    
    width:40px;
}
.services__media{
    display: flex;
    gap: 1rem;
    
}
.footer__services{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}


@media screen and (max-width:1025px){
    nav{
        
        height: 20vh;
    }
    .section__hero{
        flex-direction: column;
        text-align: center;
    }
    .section__hero img{
        width: 70%;
    }
    .hero__texts button{
        margin: 0 auto;
    }
    .cards__about{
        width: 45%;
    }
    .section__whyUs{
        flex-direction: column-reverse;
        
        justify-content: space-around;
        align-items: center;
    }
    .whyUs__container{
        width: 90vw;
    }
    .whyUs__texts{
        align-items: center;
        text-align: center;
        font-size: 1.3rem;
        gap: 1.5rem;
    }
    .whyUs__cards{
        width: 40vw;
        flex-wrap: wrap;
        
    }
    .section__services{
        flex-direction: column-reverse;
        
    }
    .services__container{
        width: 80%;
    }
    .section__services>img{
        width: calc(100% - 8rem);
    }
    .services__texts{
        width: 100%;
    }
    footer{
        flex-wrap: wrap;
    }
     .div__links{
        position: fixed;
        background: rgb(79, 224, 169);
        background: linear-gradient(308deg, rgba(79, 224, 169, 1) 0%, rgba(154, 237, 143, 1) 100%);
        top: 0;
        right: 0;
        height: 100vh;
        width: 100%;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: space-evenly;
        clip-path: circle(0.4% at 100% 0);
        
     }
    .div__links a{
        color: #ffffff;
    }
    .nav .menudos{
        -webkit-clip-path:circle(150% at 100% 0);
        clip-path: circle(150% at 100% 0);
        
    }
    #burger{
        display: block;
        position: absolute;
        right: 10vh;
        cursor: pointer;
    }
}
#change{
    height: 10vh;
}
#backgroundNone{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #ffffff59;
    padding: 2rem;
    border-radius: 50px;
}
#none{
    background-color: rgba(0, 0, 0, 0.878);
    display: none;
    height: 85vh;
    width: 100%;
    justify-content: center;
    align-items: center;
    animation-duration: .8s;
    animation-name: slide;
    position: absolute;
    
    }
    @keyframes slide {
        from {
            margin-bottom: 0%; 
            height: 300%;
        }

        to {
            margin-top: 0%;
            height: 85vh;
        }
    }
#none img{
    height: 400px;
    width: 400px;
}